*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0;
}
body{
  font-family: 'Bell Gothic Std','Arial', 'Helvetica', sans-serif;
  margin: 0;
  background-color: #f6f8f6;
  color: #404040;
}
.container{
  display: flex;
  justify-content: center;
  /* margin: 0; */
}
.title-info{
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 9px 9px 0 9px;
}
.title-name h2{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.title-info p{
  font-weight: 300;
  padding-bottom: 8px;
}
.title-name{
  font-size: 12px;
}
.main-img{
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.main-img img{
  width: 90vw;
}
.main-head ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  line-height: 0;
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 16px;
}
.main-head ul li img{
  width: 102px;
  height: 30px;
}
.main-head ul li:nth-child(1){
  border-right: 1px solid #e5e5e5;
  padding: 20px;
}
.main-head ul li:nth-child(3){
  border-left: 1px solid #e5e5e5;
  padding: 20px;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #fff;
  font-size: 12px;
}
.search input{
  border: none;
  width: 200px;
  align-items: center;
}
.container{
  background-color: #f6f8f6;
}
.sub-images img{
  width: 59px;
  height: 59px;
  margin: 5px;
}
img.out-of-focus{
  opacity: 0.5;
}
.sidebar{
  padding: 13px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.view-personalization{
  color: #404040;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  padding: 20px 15px;
}
.view-personalization p{
  margin-bottom: 0;
}
.view-personalization a{
  text-decoration: underline;
  color: #404040;
}
.size, .quantity, .label{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  color: #404040;
  font-size: 14px;
  padding: 20px 15px;
  align-items: center;
}
.label input{
  border: none;
}
button{
  color: #fff;
  background-color: #595959;
  text-transform: uppercase;
  width: 300px;
  height: 54px;
  padding: 15px;
  margin: 15px 15px 20px 15px;
}
button:hover{
  cursor: pointer;
}
.description p{
  font-size: 12px;
  line-height: 1.42;
  margin-bottom: 10px;
  color: #404040;
}
.description a, .sample a, .help a, .recommendations a{
  color: #404040;
  text-decoration: underline;
}
.sample{
  color: #404040;
  font-size: 14px;
  line-height: 1.3;
  margin: 15px 0 0;
  border: 1px solid #e5e5e5;
  padding: 15px;
}
.help{
  color: #404040;
  font-size: 14px;
  line-height: 1.3;
  margin: 0 0 15px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 15px;
}
.recommendations{
  display: flex;
  justify-content: space-around;
}
.rec1 img, .rec2 img{
  width: 40vw;
}
.rec1, .rec2{
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.recommendations h5{
  border: 1px solid #e5e5e5;
  font-size: 19px;
  padding-left: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
.recommendations p{
  font-size: 13px;
  padding: 4px 7px;
}
.rec-cart{
  display: flex;
  justify-content: space-between;
}
.ig-icon{
  display: flex;
  border: 1px solid #e5e5e5;
  align-items: flex-end;
  height: 50px;
  font-size: 14px;
}
.social-text{
  padding-left: 10px
}
.social{
  background-color: #fff;
}
.icon{
  height: 50px;
  width:50px;
  border-right: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  background-color: #fff;
}
footer ul li{
  list-style-type: none;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 15px;
}
footer ul li a{
  color: #404040;
}
/* Grid area names */
.title-info{
  grid-area: title-info;
}
.main-img{
  grid-area: main-img;
}
.sidebar{
  grid-area: sidebar;
}
.view-personalization{
  grid-area: view;
}
.size{
  grid-area: size;
}
.quantity{
  grid-area: quantity;
}
.label{
  grid-area: label;
}
.button{
  grid-area: button;
}
.description{
  grid-area: descript;
}
.sample{
  grid-area: sample;
}
.help{
  grid-area: help;
}
.recommendations{
  grid-area: rec;
}
.social{
  grid-area: social;
}
.footer-nav{
  grid-area: footer;
}
/* Grid */
.wrapper{
  display: grid;
  grid-template-areas:
    "title-info"
    "main-img"
    "sidebar"
    "view"
    "size"
    "quantity"
    "label"
    "button"
    "descript"
    "sample"
    "help"
    "rec"
    "social"
    "footer";
}
@media (min-width: 500px){
  .wrapper{
    max-width: 1000px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "main-img title-info"
      "main-img size"
      "main-img quantity"
      "main-img label"
      "main-img button"
      "sidebar  descript"
      "view     descript"
      "view     sample"
      "view     help"
      "rec     rec"
      "social  social";
  }
  .recommendations{
    justify-content: flex-start;
  }
  .rec1 img, .rec2 img{
    width: 20vw;
  }
  footer{
    display: none;
  }
  .main-img img{
    width: 40vw;
    height: 100%;
  }
}
@media (min-width: 1020px){
  .sidebar{
    display: flex;
    flex-direction: column;
  }
  .main-head ul{
    justify-content: space-around;
  }
  .title-name h2{
    font-size: 30px;
  }
  .title-info p{
    font-size: 16px;
  }
  /* not working */
  .wrapper{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "sidebar main-img title-info"
      "sidebar main-img size"
      "sidebar main-img quanity"
      "        main-img label"
      "        main-img button"
      "        main-img descript"
      "        view     sample"
      "                 help"
      " rec    rec";
  }
}
