.main-img img{
  max-width: 600px;
}

/* Grid area names */
.main-head{
  grid-area: header;
}
.search{
  grid-area: search;
}
.title-info{
  grid-area: title-info;
}
.main-img{
  grid-area: main-img;
}
.sidebar{
  grid-area: sidebar;
}
.view-personalization{
  grid-area: view;
}
.size{
  grid-area: size;
}
.quantity{
  grid-area: quantity;
}
.label{
  grid-area: label;
}
.button{
  grid-area: button;
}
.description{
  grid-area: descript;
}
.sample{
  grid-area: sample;
}
.help{
  grid-area: help;
}
.recommendations{
  grid-area: rec;
}
.social{
  grid-area: social;
}
.footer-nav{
  grid-area: footer;
}
/* Grid */
.wrapper{
  max-width: 80%;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "search"
    "title-info"
    "main-img"
    "sidebar"
    "view"
    "size"
    "quantity"
    "label"
    "button"
    "descript"
    "sample"
    "help"
    "rec"
    "social"
    "footer";
}
@media (min-width: 700px){
  .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header   header"
      "search   search"
      "main-img title-info"
      "main-img size"
      "main-img quantity"
      "main-img label"
      "main-img button"
      "sidebar  descript"
      "view     descript"
      "view     sample"
      "view     help"
      "rec     rec"
      "social  social";
  }
  .footer-nav{
    display: none;
  }
}
